<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сергій Бабкін</title>
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="../css/style_form.css">
    
</head>
<body>
    <header>
        <h1><a href="../images/img04.jpg" target="_blank"><img class="img" src="../images/img04.jpg" alt="title"></a></h1>
        <figure>
            <a href="../images/img01.jpg" target="_blank"><img class="img" src="../images/img01.jpg" alt="Біографія>"></a>
            <figcaption class="title">Біографія</figcaption>
        </figure>
        <figure>
            <a href="../images/img00.jpg" target="_blank"><img class="img" src="../images/img00.jpg" alt="Співоча кар'єра"></a>
            <figcaption>Співоча кар'єра</figcaption>
        </figure>  
        <figure>
            <a href="../images/img02.jpg" target="_blank"><img class="img" src="../images/img02.jpg" alt="Акторська діяльність"></a>
            <figcaption>Акторська діяльність</figcaption>
        </figure>
        <figure>
            <a href="../images/img03.jpg" target="_blank"><img class="img" src="../images/img03.jpg" alt="Альбоми"></a>
            <figcaption>Альбоми</figcaption>
        </figure>
           
    </header>
    <main>
        <section>
        <h2>Альбоми</h2>
            <nav>
                <ul>
                    <li><a href="https://www.youtube.com/watch?v=GWUnTIieOAU" target="_blank">"Спалах"</a></li>
                    <li><a href="https://www.youtube.com/watch?v=KNjOMkefP-s" target="_blank">"Але"</a></li>
                    <li><a href="https://www.youtube.com/watch?v=IvlIdH12h0o" target="_blank">"Вона знає"</a></li>
                    <li><a href="https://www.youtube.com/watch?v=S2YTReCrpPQ" target="_blank">"Пробач"</a></li>
                </ul>
            </nav>
        </section>
        <section>
            <h2>Біографія</h2>
            <p>
                Сергій Миколайович Бабкін — український музикант, актор, автор і виконавець власних пісень. Учасник гурту 5'nizza. Тренер 7-го та 8-го сезонів вокального шоу «Голос країни». Учасник 5-го сезону шоу «Танці з зірками».                
            </p>
            <p>
               2000-го було придумано назву і написані перші пісні для гурту. Одного разу після прогулянки-фотосесії, де червоний колір домінував у одязі, поетеса Галина Давидова, придумала назву «Красная Пятница», яку Сергій згодом поміняв, прибравши слово «красная» через асоціації з групою «Красная плесень», і залишив тільки «П'ятниця». Наступного дня Андрій придумав емблему «5'NIZZA».
            </p>
            <p>
                Після того, як 5'nizza стала відомою, з'явився інтерес і до учасників групи. Виявилося, що Сергій Бабкін — актор «Театру 19» і ще автор, композитор і виконавець своїх пісень. Едуард Шумейко запропонував випустити альбом, і з 30 записаних композицій були обрані 16, які стали альбомом «УРА!» (2004). Частина пісень, що залишилася, лягла в основу альбому «БИС!» (2005).
            </p>
        </section>
        <section>
           <h2>Цікаві факти</h2>
           <ul>
               <li>Раніше, на багатьох концертах він наносив на обличчя грим «усміхненого чоловічка», ідею якого запозичив у Олександра Литвинова</li>
               <li>Сергій Бабкін на своїх концертах часто виступає босоніж</li>
               <li>Улюблений мультфільм — «Ёжик в тумане»</li>
           </ul>
        </section>
    </main>
    <footer>
        ©Copyright
    </footer>

    
</body>
</html>