<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My portfolio</title>
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/index_style.css">
</head>
<body>
    
    <div class="container">
        <header class="header">
            <nav class="nav">
                <ul class="nav_list">
                    <li class="nav_item"><a class= "nav_link nav_link_active" href="#home">Home</a></li>
                    <li class="nav_item"><a class= "nav_link" href="#aboutme">About Me</a></li>
                    <li class="nav_item"><a class= "nav_link" href="#skills">Skills</a></li>
                    <li class="nav_item"><a class= "nav_link" href="#portfolio">Portfolio</a></li>
                    <li class="nav_item"><a class= "nav_link" href="#contacts">Contacts</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <section id="home">
                <h1 class="h1">Denis Novik</h1>
                <a href="../images/home.jpg" target="_blank"><img class="home_img" src="../images/home.jpg" alt="Home"></a>
            </section>
            <section id="aboutme"></section>
            <section id="skills"></section>
            <section id="portfolio"></section>                       
        </main>
        <footer>

        </footer>




         
    </div>
    
</body>
</html>